- if signed_in? && controller_name != 'sessions'
  = link_to (image_tag 'logout.png'), destroy_user_session_path, :method => :delete, :title => (t :sign_out_title)
- else
  = link_to (image_tag 'login.png'), new_user_session_path, :title => (t :sign_in_title)
