// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Metrophobic", Arial, serif;
  font-weight: bold;
  font-size: 44px;
  text-decoration: none;
  color: #800;
  background-color: rgba(225, 193, 4, 0.12);
  margin: 20px;
  padding: 0;
  border: 0;
}

table.center {
  margin: 10px auto 60px auto;
}

table.wide {
  width: 100%;
}

table tr.row {
  height: 68px;
}

table td.column {
  text-align: right;
}

input {
  font-family: "Metrophobic", Arial, serif;
  font-weight: bold;
  font-size: 46px;
  color: #800;
  background-color: #e8f7f2;;
  border: 2px solid #800;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  width: 556px;
  padding-left: 10px;
}

input[type='submit'] {
  color: darkgreen;
  width: 570px;
}

.ui-state-default {
  border: 2px solid teal;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.error {
  height: 56px;
  width: 546px;
  background-color: #fffe36;
  border: 2px solid #48e118;
  padding: 0 10px 0 10px;
  color: #ff0000;

  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

label[for='note_visitor_attributes_name'] {
  position: absolute;
  top: 173px;
  right: 2%;
  width: auto;
  white-space: nowrap;
}

.notice {
  color: blue;
}

.alert {
  color: red;
}

label, .label {
  color: darkgreen;
}