= title t :sign_in_title

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %table.center
    %tr
      %td= f.label t :label_name
      %td= f.text_field :name, :autofocus => true
    %tr
      %td= f.label t :label_password
      %td= f.password_field :password
    %tr
      - if devise_mapping.rememberable?
        %td= f.label t :label_remember_me
        %td= f.check_box :remember_me
    %tr
      %td
      %td= f.submit t :sign_in_title

