= form_for ([:admin, @note]) do |f|
  - if @note.errors.any?
  - @note.errors.count > 1 ? text = t(:errors) : text = t(:error)
    #error_explanation
      %h2= @note.errors.count.to_s + text + t(:note_not_saved_text)
      %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg

  %table.center
    %tr
      = f.fields_for :visitor_attributes do |v_fields|
        - controller_name == 'dashboard' ? value = nil : value = @note.visitor.name
        %td= v_fields.label t(:note_visitor) + ' *'
        %td= v_fields.text_field :name, value: value, autofocus: true, required: 'required', data: {message: t(:note_visitor) + ' ' + t(:required)}
    %tr
      = f.fields_for :author_attributes do |a_fields|
        - controller_name == 'dashboard' ? value = nil : value = @note.author.name
        %td= a_fields.label t :note_author
        %td= a_fields.text_field :name, value: value
    = f.fields_for :publication_attributes do |p_fields|
      - controller_name == 'dashboard' ? title = nil : title = @note.publication.title
      - controller_name == 'dashboard' ? description = nil : description = @note.publication.description
      %tr
        %td= p_fields.label t :note_publication
        %td= p_fields.text_field :title, value: title
      %tr
        %td= p_fields.label t :note_note
        %td= p_fields.text_field :description, value: description
      %tr
        %td
        %td= f.submit t :save_title

= hidden_field_tag 'visitors', nil, data: { visitors: @visitors }
= hidden_field_tag 'authors', nil, data: { authors: @authors }
= hidden_field_tag 'titles', nil, data: { titles: @titles }
= hidden_field_tag 'descriptions', nil, data: { descriptions: @descriptions }