= title t :notes

%table.wide
  %tr
    %th
    %th
    %th
    %th
    %th
    %th
    %th

  - @notes.each do |note|
    %tr.row{class: cycle('odd', 'even')}
      %td= note.created_at.strftime('%F %R')
      %td= note.visitor.name
      %td= note.author.name
      %td= truncate note.publication.title
      %td.column= link_to_note_show(note)
      %td.column= link_to_note_destroy(note)

