= title t :note_title_show

%p
  .label= t :note_visitor
  = @note.visitor.name
%p
  .label= t :note_author
  = @note.author.name
%p
  .label= t :note_publication
  = @note.publication.title
  = @note.publication.description

= link_to t(:notes), dashboard_path
