= form_for ([:admin, @user]) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, 'error')} prohibited this playlist from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label t :user_label_name
    = f.text_field :name
  .field
    = f.label t :user_label_email
    = f.email_field :email
  .field
    = f.label t :label_password
    = f.password_field :password
  .actions
    = f.submit t :save_title
