= title t :user_title_destroy

= form_for(([:admin, @user]), :url => admin_user_path(@user), :html => {:method => :delete}) do |f|
  = image_tag 'warning.png', title: t(:user_title_destroy)
  %span #{t :user_confirm_destroy_text}&nbsp;#{@user.name}&#063;

  %br
    = f.submit t(:destroy_title)
    = link_to t(:cancel_title), admin_users_url