= title t :users

%table.wide
  %tr
    %th
    %th
  - @users.each do |user|
    %tr.row{class: cycle('odd', 'even')}
      %td= link_to user.name, admin_user_path(user)
      %td= mail_to(user.email, user.email, title: user.email)
      %td.column= link_to_admin_show(user)
      %td.column= link_to_admin_edit(user)
      %td.column= link_to_admin_destroy(user)

= link_to t(:user_title_new), new_admin_user_path