= title t :user_title_show

%p
  = t :user_label_name
  = @user.name
%p
  = t :user_label_email
  = mail_to(@user.email, @user.email, title: @user.email)

= link_to t(:users), admin_users_url

= link_to t(:user_title_edit), edit_admin_user_path(@user)