!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => controller.set_locale, :lang => controller.set_locale}
  %head
    = csrf_meta_tag
    = apple_icon_link_tag
    = icon_link_tag
    %title= t(:app_title) + ' :: ' + yield_or_default(:title, t(:app_title))
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = yield :head
  %body
    = render 'shared/auth'
    = render 'shared/flash'
    = yield